.main__articles {
  padding-bottom: 32px;
}
.main__articles__item {
  scroll-margin-top: 154.67px;
  padding-top: 24px;
}
.main__articles__item h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.main__articles__item h3::before {
  content: "";
  position: absolute;
  width: 90px;
  bottom: 0;
  border-bottom: 4px solid #b40400;
  left: 0;
}
.main__articles__item ul {
  margin-left: 1em;
  margin-left: 2.5em;
}
.main__articles__item__txt-img {
  gap: 16px;
}
.main__articles__item__txt-img__img {
  margin-bottom: 24px;
}
.main__articles__item__child {
  padding-top: 24px;
}
.main__articles__item__child h4 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;
}
.main__articles__item__child h4::before {
  content: "";
  position: absolute;
  width: 90px;
  bottom: 0;
  border-bottom: 4px solid #b40400;
  left: 0;
}

.main__header__txt-img__img img {
  background-color: #fff;
}

@media (max-width: 960px) {
  .main__header__txt-img__img {
    height: 240px;
    position: relative;
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);
  }
  .main__header__txt-img__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__dropdown {
    margin-top: 0;
  }
}