.main__address {
  position: relative;
  left: -100px;
  right: -100px;
  width: calc(100% + 200px);
  color: black;
  background-color: #f0f0f0;
  padding: 40px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.main__address__info ul {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  list-style: none;
  margin-top: 16px;
}
.main__address__info ul li {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.main__address__info ul li .li-data {
  font-family: Gilroy Light;
}
.main__address__info ul li svg {
  margin-top: 8px;
}
.main__address__info > div {
  margin-bottom: 24px;
}
.main__address__info > div > *:not(h3) {
  margin-left: 36px;
}
.main__address__info h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.main__address__info .phone {
  display: inline-block;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  --c: #b40400; /* the border color */
  --b: 1.5px; /* the border thickness*/
  --g: 5px; /* the gap on hover */
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0/200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  -webkit-transition: 0.3s, background-position 0.3s 0.3s;
  transition: 0.3s, background-position 0.3s 0.3s;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 800;
  line-height: 18.38px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #b40400;
}
.main__address__info .phone:hover {
  --_i: 100%;
  -webkit-transition: 0.3s, background-size 0.3s 0.3s;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.main__address__info .txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.14px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.main__address__info .txt-1 {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.main__address__info .txt-1:hover {
  color: #b40400;
}
.main__address__info .txt-2 {
  line-height: 30px;
}
.main__address__info .eml {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.main__address__info .eml::before {
  content: "";
  position: absolute;
  border-bottom: 1.5px solid #b40400;
  left: 0;
  bottom: -3px;
  width: 0;
  -webkit-transition: 0.5s width ease;
  transition: 0.5s width ease;
}
.main__address__info .eml:hover::before {
  width: 100%;
}
.main__address__maps #map {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

@media (max-width: 960px) {
  .main__address {
    position: relative;
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
.main__header__txt-img__img {
  overflow: hidden;
}
.main__clinic-swiper {
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.main__list-links__container {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.main__address {
      grid-template-areas: "maps info";
  gap: 10px 80px;
}
.main__address__info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: info;
}
.main__address__info__maps {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: maps;
}

@media (max-width: 960px) {
  .main__header__txt-img {
    position: relative;
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);
  }
  .main__header__txt-img__txt {
    margin: 0 20px;
  }
  .main__address {
        grid-template-areas: "info" "maps";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main__address__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main__address__info__maps {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}