.main__articles {
  padding-bottom: 32px;
}
.main__articles__item {
  scroll-margin-top: 154.67px;
  padding-top: 24px;
}
.main__articles__item h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.main__articles__item h3::before {
  content: "";
  position: absolute;
  width: 90px;
  bottom: 0;
  border-bottom: 4px solid #b40400;
  left: 0;
}
.main__articles__item ul {
  margin-left: 1em;
  margin-left: 2.5em;
}
.main__articles__item__txt-img {
  gap: 16px;
}
.main__articles__item__txt-img__img {
  margin-bottom: 24px;
}
.main__articles__item__child {
  padding-top: 24px;
}
.main__articles__item__child h4 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;
}
.main__articles__item__child h4::before {
  content: "";
  position: absolute;
  width: 90px;
  bottom: 0;
  border-bottom: 4px solid #b40400;
  left: 0;
}

.main__articles__item__document {
  padding: 10px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Gilroy;
  font-weight: 800;
  background-color: #fff;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}
.main__articles__item__document__label {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.main__articles__item__document__button {
  -webkit-transition: 0.4s background-image ease;
  transition: 0.4s background-image ease;
  font-size: 14px;
  line-height: 20.02px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b40400), to(#580200));
  background-image: linear-gradient(#b40400, #580200);
  position: relative;
}
.main__articles__item__document__button:hover::before {
  opacity: 1;
}
.main__articles__item__document__button::before {
  -webkit-transition: 0.6s opacity ease;
  transition: 0.6s opacity ease;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.main__articles__item__document__button .cnt {
  position: relative;
  z-index: 1;
}

@media (max-width: 960px) {
  .main__header__txt-img__img {
    height: 240px;
    position: relative;
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);
  }
  .main__header__txt-img__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__dropdown {
    margin-top: 0;
  }
}