@use "../utils/variables" as *;
.make-an-appointment {
    font-weight: 800;
    font-size: 18px;
    margin: 45px {
        right: 0;
    }
    display: inline-block;
    position: relative;
    line-height: 22.05px;
    font-family: Gilroy;
    transition: all 1s;
    i {
        margin-left: 8px;
    }
    &::before {
        transition: all 1s;
        position: absolute;
        content: "";
        height: 65px;
        width: 65px;
        top: 50%;
        transform: translate(-60%, -50%);
        border-radius: 50%;
        border: 2px solid $main-color;
        border-right-color: transparent;
        pointer-events: none;
    }
    &:hover {
        transform: scale(1.1);
    }
    &:hover::before {
        transform: translate(-60%, -50%) scale(1.4);
        opacity: 0;
    }
}
