@use '../utils/variables' as *;

[class $="txt-img"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
@media (max-width: $max-width) {
    [class $="txt-img"] {
        grid-template-columns: 1fr;
    }
}